{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>recipies.ai</title>
</head>
<body>
    <header id="model">
        <p id="name">recipies.ai</p>
    </header>

    <main>
        <div class="got">
            <p id="got">Lazy? Huh, me too. It's time we let AI do the work.</p>
            <p>Upload a picture of the ingredients that you have, and get 7 different recipies to choose from. </p> 
            <p>(Please use the <a id="converter" href="https://www.site24x7.com/tools/image-to-datauri.html">converter</a>, and insert the link into the text box)</p>
        </div>
        <div class="wrapper">
            <form method="POST">
                <input name="variable" id="url_input">
                <input type="submit">
            </form>
        </div>
    </main>
</body>
</html>
{% endblock content %}
